version: "3.9"
services:
  web:
    build: .
    container_name: nextjs_app
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: production
    restart: unless-stopped
    networks:
      - proxy

networks:
  proxy:
    external: true